# Import Libraries

In [1]:
# Import Libraries

import pandas as pd
import numpy as np
import os

# Import Data

In [2]:
# Set the data path

path = r'C:\Users\Tina\Desktop\CareerFoundry\Data Analytics Immersion\Instacart Basket Analysis'

In [7]:
# Import the "orders" file

df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)

In [6]:
# Import the "products" file

df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

# Consistency Checks

In [8]:
df_ords.describe()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

# Mixed-Type Data

### Create a test dataframe for mixed-type data

In [9]:
# Create a dataframe

df_test = pd.DataFrame()

In [10]:
# Create a mixed-type column

df_test['mix'] = ['a', 'b', 1, True]

In [11]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [15]:
# Check for mixed-type data

for col in df_test.columns.tolist():
    weird = (df_test[[col]].map(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_test[weird]) > 0:
        print (col)

mix

In [16]:
# Change the mixed-type column to string

df_test['mix'] = df_test['mix'].astype('str')

# Missing Values

### Finding Missing Values

In [17]:
# Check for missing values in "products"

df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

##### The column product_name has 16 missing values.

In [18]:
# Create a subset with only missing values in "products"

df_nan = df_prods[df_prods['product_name'].isnull() == True]

In [19]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

### Addressing Missing Values

##### Creating a subset of the data with no missing values

In [21]:
# Check the row number before

df_prods.shape

(49693, 5)

In [22]:
# Create a subset with no missing values

df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [23]:
# Check the row number after

df_prods_clean.shape

(49677, 5)

##### This new dataframe has 16 rows less, the exact amount of rows containing missing values.

# Duplicate Data

### Finding Duplicates

In [24]:
# Create a new subset with only duplicates

df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [25]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

### Addressing Duplicates

In [26]:
# Check the row number before

df_prods_clean.shape

(49677, 5)

In [27]:
# Create a dataframe without duplicates

df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [29]:
# Check the row number after

df_prods_clean_no_dups.shape

(49672, 5)

##### Five duplicates have been deleted.

# Export the dataframe

In [31]:
# Export df_prods_clean_no_dups

df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'))

# Tasks

### 2. Run the df.describe() function on your df_ords dataframe. Share whether anything about the data looks off or should be investigated further.

In [32]:
df_ords.describe()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

##### Based on my knowledge, there don't seem to be any inconsistencies.

### 3. Check for mixed-type data in your df_ords dataframe.

In [35]:
# Check for mixed-type data

for col in df_ords.columns.tolist():
    weird = (df_ords[[col]].map(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_ords[weird]) > 0:
        print (col)

##### There are no mixed-type columns in df_ords.

### 4. If you find mixed-type data, fix it.

##### There was no mixed-type data.

### 5. Run a check for missing values in your df_ords dataframe.

In [36]:
# Check for missing values

df_ords.isnull().sum()

Unnamed: 0                     0
order_id                       0
user_id                        0
order_number                   0
orders_day_of_week             0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

##### There are 206.209 missing values in the column "days_since_prior_order". Since the first order of a customer doesn't have a value for this column, as there is no prior order, there would be a missing value for that case.

### 6. Address the missing values using an appropriate method.

##### In this case I would leave the data as it is because it still gives valuable information.

### 7. Run a check for duplicate values in your df_ords data.

In [37]:
# Look for duplicates

df_ords_dups = df_ords[df_ords.duplicated()]

In [38]:
df_ords_dups

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order]
Index: []

##### There are no duplicates in df_ords.

### 8. Address the duplicates using an appropriate method.

##### There are no duplicates, so no further actions needed.

### 9. Export your final, cleaned dataframes.

In [39]:
# Export df_ords

df_ords.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'))

##### df_prods has already been exported.