# Import Libraries

In [1]:
# Import Libraries

import pandas as pd
import numpy as np
import os

# Import Data

In [2]:
# Set a path

path = r'C:\Users\Tina\Desktop\CareerFoundry\Data Analytics Immersion\Instacart Basket Analysis'

In [3]:
# Import "products", original data

prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'))

In [4]:
# Look at datatypes

prods.dtypes

product_id         int64
product_name      object
aisle_id           int64
department_id      int64
prices           float64
dtype: object

In [21]:
result = prods[prods['prices'] == 99999]

In [23]:
result

       product_id           product_name  aisle_id  department_id   prices
33666       33664  2 % Reduced Fat  Milk        84             16  99999.0

In [24]:
row_to_drop = 33666

In [25]:
prods_dropped = prods.drop(row_to_drop)

In [27]:
prods.shape

(49693, 5)

In [28]:
prods_dropped.shape

(49692, 5)

In [29]:
prods_dropped.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [30]:
df_nan = prods_dropped[prods_dropped['product_name'].isnull() == True]

In [31]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [32]:
prods_dropped.shape

(49692, 5)

In [33]:
prods_clean = prods_dropped[prods_dropped['product_name'].isnull() == False]

In [34]:
prods_clean.shape

(49676, 5)

In [35]:
prods_dups = prods_clean[prods_clean.duplicated()]

In [36]:
prods_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [37]:
prods_clean.shape

(49676, 5)

In [38]:
prods_clean_no_dups = prods_clean.drop_duplicates()

In [39]:
prods_clean_no_dups.shape

(49671, 5)

In [40]:
prods_clean_no_dups.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked1.csv'))