# 1 IC Data Wrangling - products

### This script contains the following points
#### 01 Import Libraries
#### 02 Import Data
#### 03 First Look at Data
#### 04 Data Wrangling
#### 05 Export Data

# 01 Import Libraries

In [1]:
# Import Libraries

import pandas as pd
import numpy as np
import os

# 02 Import Data

In [2]:
# Set a path

path = r'C:\Users\Tina\Desktop\CareerFoundry\Data Analytics Immersion\Instacart Basket Analysis'

In [3]:
# Import the "products" file

prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

# 03 First Look at Data

In [4]:
# Shape of "prods"

prods.shape

(49693, 5)

In [5]:
# First few rows of "prods"

prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [6]:
# Data types of "prods"

prods.dtypes

product_id         int64
product_name      object
aisle_id           int64
department_id      int64
prices           float64
dtype: object

# 04 Data Wrangling

### 01 Drop Columns

No columns are being dropped for this dataframe.

### 02  Rename Columns

No columns are being renamed for this dataframe.

### 03 Change Data Types

No data types are being changed for this dataframe.

# 05 Export Data

In [7]:
# Export the "prods" dataframe

prods.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'wrangled_products.csv'))