# 1 IC Data Wrangling - orders_products_prior

### This script contains the following points
#### 01 Import Libraries
#### 02 Import Data
#### 03 First Look at Data
#### 04 Data Wrangling
#### 05 Export Data

# 01 Import Libraries

In [1]:
# Import Libraries

import pandas as pd
import numpy as np
import os

# 02 Import Data

In [2]:
# Set a path

path = r'C:\Users\Tina\Desktop\CareerFoundry\Data Analytics Immersion\Instacart Basket Analysis'

In [3]:
# Import the "orders_products_prior" file

ords_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

# 03 First Look at Data

In [4]:
# Shape of "ords_prods"

ords_prods.shape

(32434489, 4)

In [5]:
# First few rows of "ords_prods"

ords_prods.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
# Data types of "ords_prods"

ords_prods.dtypes

order_id             int64
product_id           int64
add_to_cart_order    int64
reordered            int64
dtype: object

# 04 Data Wrangling

### 01 Drop Columns

No columns are being dropped for this dataframe.

### 02  Rename Columns

No columns are being renamed for this dataframe.

### 03 Change Data Types

No data type changes are being done for this dataframe.

# 05 Export Data

In [7]:
# Export the "ords_prods" dataframe

ords_prods.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'wrangled_orders_products.csv'))