# 1 IC Data Wrangling - orders

### This script contains the following points
#### 01 Import Libraries
#### 02 Import Data
#### 03 First Look at Data
#### 04 Data Wrangling
#### 05 Export Data

# 01 Import Libraries

In [1]:
# Import Libraries

import pandas as pd
import numpy as np
import os

# 02 Import Data

In [2]:
# Set a path

path = r'C:\Users\Tina\Desktop\CareerFoundry\Data Analytics Immersion\Instacart Basket Analysis'

In [3]:
# Import the "orders" file

ords = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False)

# 03 First Look at Data

In [4]:
# Shape of "ords"

ords.shape

(3421083, 7)

In [5]:
# First few rows of "ords"

ords.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [6]:
# Data types of "ords"

ords.dtypes

order_id                    int64
user_id                     int64
eval_set                   object
order_number                int64
order_dow                   int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

# 04 Data Wrangling

### 01 Drop Columns

In [7]:
# Drop the "eval_set" column as it is irrelevant for this project

ords = ords.drop(columns = ['eval_set'])

In [8]:
ords.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

### 02  Rename Columns

In [9]:
# Rename "orders_dow" to "orders_day_of_week" for better understanding

ords.rename(columns = {'order_dow' : 'orders_day_of_week'}, inplace = True)

In [10]:
ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

### 03 Change Data Types

No data types are being changed for this dataframe.

# 05 Export Data

In [11]:
# Export the "ords" dataframe

ords.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'wrangled_orders.csv'))