# 2 IC Data Consistency Checks - orders_products_prior

### This script contains the following points
#### 01 Import Libraries
#### 02 Import Data
#### 03 First Look at Data
#### 04 Consistency Checks
#### 05 Export Data

# 01 Import Libraries

In [1]:
# Import Libraries

import pandas as pd
import numpy as np
import os

# 02 Import Data

In [2]:
# Set the data path

path = r'C:\Users\Tina\Desktop\CareerFoundry\Data Analytics Immersion\Instacart Basket Analysis'

In [3]:
# Import the "wrangled_orders_products" file

ords_prods_wr = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'wrangled_orders_products.csv'), index_col = False)

# 03 First Look at Data

In [4]:
# Shape of "ords_prods_wr"

ords_prods_wr.shape

(32434489, 5)

In [5]:
# First few rows of "ords_prods_wr"

ords_prods_wr.head()

   Unnamed: 0  order_id  product_id  add_to_cart_order  reordered
0           0         2       33120                  1          1
1           1         2       28985                  2          1
2           2         2        9327                  3          0
3           3         2       45918                  4          1
4           4         2       30035                  5          0

In [6]:
# Drop "Unnamed: 0" column

ords_prods_wr = ords_prods_wr.drop(columns =['Unnamed: 0'])

In [7]:
ords_prods_wr.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [8]:
# Data types of "ords_prods_wr"

ords_prods_wr.dtypes

order_id             int64
product_id           int64
add_to_cart_order    int64
reordered            int64
dtype: object

# 04 Consistency Checks

In [9]:
# Descriptive statistics of "ords_prods_wr"

ords_prods_wr.describe()

           order_id    product_id  add_to_cart_order     reordered
count  3.243449e+07  3.243449e+07       3.243449e+07  3.243449e+07
mean   1.710749e+06  2.557634e+04       8.351076e+00  5.896975e-01
std    9.873007e+05  1.409669e+04       7.126671e+00  4.918886e-01
min    2.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.559430e+05  1.353000e+04       3.000000e+00  0.000000e+00
50%    1.711048e+06  2.525600e+04       6.000000e+00  1.000000e+00
75%    2.565514e+06  3.793500e+04       1.100000e+01  1.000000e+00
max    3.421083e+06  4.968800e+04       1.450000e+02  1.000000e+00

No obvious problems were detected.

### 01 Mixed-Type Data

In [10]:
# Check for mixed-type data

for col in ords_prods_wr.columns.tolist():
    weird = (ords_prods_wr[[col]].map(type) != ords_prods_wr[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (ords_prods_wr[weird]) > 0:
        print (col)

No mixed-type data could be found.

### 02 Missing Values

In [11]:
# Check for missing values in "ords_prods_wr"

ords_prods_wr.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

No missing values could be found.

### 03 Duplicate Data

In [12]:
# Create a new subset with only duplicates

ords_prods_wr_dups = ords_prods_wr[ords_prods_wr.duplicated()]

In [13]:
ords_prods_wr_dups

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

There is no duplicate data in this data set.

In [14]:
# Number of rows after consistency check

ords_prods_wr.shape

(32434489, 4)

# 05 Export Data

In [15]:
# Export "ords_prods_wr"

ords_prods_wr.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'checked_orders_products.csv'))