# 2 IC Data Consistency Checks - orders

### This script contains the following points
#### 01 Import Libraries
#### 02 Import Data
#### 03 First Look at Data
#### 04 Consistency Checks
#### 05 Export Data

# 01 Import Libraries

In [33]:
# Import Libraries

import pandas as pd
import numpy as np
import os

# 02 Import Data

In [34]:
# Set the data path

path = r'C:\Users\Tina\Desktop\CareerFoundry\Data Analytics Immersion\Instacart Basket Analysis'

In [35]:
# Import the "wrangled_orders" file

ords_wr = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'wrangled_orders.csv'), index_col = False)

# 03 First Look at Data

In [36]:
# Shape of "ords_wr"

ords_wr.shape

(3421083, 7)

In [37]:
# First few rows of "ords_wr"

ords_wr.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [38]:
# Drop "Unnamed: 0" column

ords_wr = ords_wr.drop(columns =['Unnamed: 0'])

In [39]:
ords_wr.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [40]:
# Data types of "ords_wr"

ords_wr.dtypes

order_id                    int64
user_id                     int64
order_number                int64
orders_day_of_week          int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

# 04 Consistency Checks

In [41]:
# Descriptive statistics of "ords_wr"

ords_wr.describe()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

No obvious problems were detected.

### 01 Mixed-Type Data

In [42]:
# Check for mixed-type data

for col in ords_wr.columns.tolist():
    weird = (ords_wr[[col]].map(type) != ords_wr[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (ords_wr[weird]) > 0:
        print (col)

No mixed-type data could be found.

### 02 Missing Values

In [43]:
# Check for missing values in "ords_wr"

ords_wr.isnull().sum()

order_id                       0
user_id                        0
order_number                   0
orders_day_of_week             0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

There are 206.209 missing values in "days_since_prior_order". Since the first order of a customer doesn't have a value for this column, as there is no prior order, there would be a missing value for that case.
To check if this is the case, a crosstab will be created.

In [44]:
# Create a crosstab for "days_since_prior_order" and "order_number"

crosstab = pd.crosstab(ords_wr['days_since_prior_order'], ords_wr['order_number'], dropna = False)

In [45]:
# Copy the table to clipboard

crosstab.to_clipboard()

The crosstab proved that the missing values in the "days_since_prior_order" column are due to the fact that there will be no prior order before day one. A screenshot will be included in the final report.

Since the rows with the missing values still contain valuable information, they will be left in the data set.

### 03 Duplicate Data

In [46]:
# Create a new subset with only duplicates

ords_wr_dups = ords_wr[ords_wr.duplicated()]

In [47]:
ords_wr_dups

Empty DataFrame
Columns: [order_id, user_id, order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order]
Index: []

There is no duplicate data in this data set.

In [48]:
# Number of rows after consistency check

ords_wr.shape

(3421083, 6)

# 05 Export Data

In [49]:
# Export "ords_wr"

ords_wr.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'checked_orders.csv'))