# 3 IC Merging - orders with orders_products_prior

### This script contains the following points
#### 01 Import Libraries
#### 02 Import Data
#### 03 First Look at Data and Downsizing of Data Types
#### 04 Merge
#### 05 Export Data

# 01 Import Libraries

In [1]:
# Import Libraries

import pandas as pd
import numpy as np
import os

# 02 Import Data

In [2]:
# Set a path

path = r'C:\Users\Tina\Desktop\CareerFoundry\Data Analytics Immersion\Instacart Basket Analysis'

In [3]:
# Import the "checked_orders" file

ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'checked_orders.csv'), index_col = False)

In [9]:
# Import the "checked_orders_products" file

ords_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'checked_orders_products.csv'), index_col = False)

# 03 First Look at Data and Downsizing of Data Types

##### "ords"

In [4]:
# Shape of "ords"

ords.shape

(3421083, 7)

In [5]:
# First few rows of "ords"

ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [6]:
# Drop "Unnamed: 0" column

ords = ords.drop(columns =['Unnamed: 0'])

In [7]:
ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [8]:
# Data types of "ords"

ords.dtypes

order_id                    int64
user_id                     int64
order_number                int64
orders_day_of_week          int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

In [10]:
# Dowsize data types for a better merging

ords['order_id'] = ords['order_id'].astype('int32')
ords['user_id'] = ords['user_id'].astype('int32')
ords['order_number'] = ords['order_number'].astype('int8')
ords['orders_day_of_week'] = ords['orders_day_of_week'].astype('int8')
ords['order_hour_of_day'] = ords['order_hour_of_day'].astype('int8')

In [11]:
# Check the data types

ords.dtypes

order_id                    int32
user_id                     int32
order_number                 int8
orders_day_of_week           int8
order_hour_of_day            int8
days_since_prior_order    float64
dtype: object

##### "ords_prods"

In [12]:
# Shape of "ords_prods"

ords_prods.shape

(32434489, 5)

In [14]:
# First few rows of "ords_prods"

ords_prods.head()

   Unnamed: 0  order_id  product_id  add_to_cart_order  reordered
0           0         2       33120                  1          1
1           1         2       28985                  2          1
2           2         2        9327                  3          0
3           3         2       45918                  4          1
4           4         2       30035                  5          0

In [15]:
# Drop "Unnamed: 0" column

ords_prods = ords_prods.drop(columns =['Unnamed: 0'])

In [16]:
ords_prods.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [18]:
# Data types of "ords_prods"

ords_prods.dtypes

order_id             int64
product_id           int64
add_to_cart_order    int64
reordered            int64
dtype: object

In [19]:
# Dowsize data types for a better merging

ords_prods['order_id'] = ords_prods['order_id'].astype('int32')
ords_prods['product_id'] = ords_prods['product_id'].astype('int32')
ords_prods['add_to_cart_order'] = ords_prods['add_to_cart_order'].astype('int32')
ords_prods['reordered'] = ords_prods['reordered'].astype('int8')

In [20]:
# Check the data types

ords_prods.dtypes

order_id             int32
product_id           int32
add_to_cart_order    int32
reordered             int8
dtype: object

# 04 Merge

In [21]:
# Merge the two dataframes

merged = ords.merge(ords_prods, on = 'order_id', indicator = True)

In [22]:
# Have a look at the new dataframe

merged.shape

(32434489, 10)

In [23]:
merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

# 05 Export Data

In [25]:
merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'merged_orders_products_orders.pkl'))